.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.productCard {
  background-color: linen;
  margin: 5px;
  padding: 5px;
  height: 400px;
  width: 250;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImg {
  width: 200px;
}

.addToCartBtn{
  align-self: center;
}