.productPage {
  display: grid;
  /* Hadde vært litt kult å legge til en if og to forskjellige klasser med grid, slik at hvis det er
  tre objekter så er det en grid på 3 kolonner, 4 om det er fire osv. slik at det er midtstilt og penere<3 
  Får se hva jeg har av tid og skills...*/
  grid-template-columns: repeat(4, 1fr);
}

.productCard {
  /* Fiks at knappene er på samme plass på hvert kort plis */
  background-color: linen;
  margin: 5px;
  padding: 5px;
  height: 400px;
  width: 250;
}

.productImg {
  width: 200px;
}
