.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.productCard {
  background-color: linen;
  margin: 5px;
  padding: 5px;
  height: 400px;
  width: 250;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.productImg {
  width: 200px;
}

.addToCartBtn {
  align-self: center;
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
