.cart {
  border: 0.2rem solid lightgrey;
  background-color: rgb(236, 236, 236);
  padding: 1rem 2.5rem;
  border-radius: 8px;
  width: 200px;
  max-height: 60vh;
  overflow-y: auto;
}

.deleteBtn {
  background-color: rgb(180, 35, 35);
  padding: 0.2em 0.8em;
  color: white;
  font-size: 0.8em;
  padding: 0.6em 1.2em;
}

.editAmountBtn {
  font-size: 1rem;
  padding: 0.2rem 0.6rem;
  background-color: white;
  border: 0.1rem solid #242424;
}
